:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.input-label {
  font-size: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

#input {
  width: 450px;
  padding: 10px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
}

.input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.btn-container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 20px;
}

.btn {
  padding: 10px 40px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #000000;
}

.disabled {
  background-color: #f1f1f1;
  border: 1px solid #000000;
  cursor: not-allowed;
  padding: 10px 40px;
}

.form {
  border: 2px solid #000000;
  padding: 15px;
}

.login-container {
  border: 2px solid #000000;
  padding: 30px;
  width: 500px;
}

.modal-container {
  padding: 15px;
  position: fixed;
  top: 30%;
  left: 30%;
  border: 1px solid black;
  background-color: white;
  height: 300px;
  width: 800px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.modal-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.dashboard-container {
  border: 1px solid black;
  padding: 5px;
}

.dashboard-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.dashboard-body {
  overflow-y: scroll;
  height: 600px;
  border: 1px solid black;
  padding: 10px;
}

.dashboard-item {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  font-size: 20px;
  margin-bottom: 10px;
}

.dashboard-item-info {
  display: flex;
  gap: 10px;
}